a {
   color:$link-color;
   text-decoration:none;

   &:hover, &:focus {
      text-decoration:underline;
   }
   
   h2:hover {color:$link-color;}
}
p a {font-weight:bold;}

h1, h2 {
   a {color:inherit;}
   a:hover, a:focus {
      color:$link-color;
      text-decoration:none;
   }
}  
.button {
   padding:.5em 2em;
   margin-top:1em;
   border:5px double #c64f49;
   border:2px solid #c64f49;
   background-color:white;
   color:#c64f49;
   text-decoration:none;
   //font-family: 'Julius Sans One', sans-serif;
   font-weight:bold;
   text-transform:uppercase;
   @include box-shadow(0 0 10px #000000); 
   
   &:hover, &:focus {
      @include box-shadow(none);
      text-decoration:none !important;
   }
}

.navigation {
   padding:1em;
   background-color:purple; background-color:rgba(black,.3);
      
   ul {
      margin:0; //margin:0 1em;
      padding:0;    
      @extend .clearfix; 
   }
   li {
      display:inline-block;
      float:left;
      margin-left:1px;
   }
   a {
      display:block;
      height:3.5em; min-width:4em;
      padding:2em 1em .5em;
      //border-bottom:3px solid transparent;
      color:white;
      text-decoration:none;
      text-align:center;
      vertical-align:bottom;
      font-family: 'Julius Sans One', sans-serif;
   }
   a:hover, a:focus {
      outline:1px solid white;
      background-color:rgba(black,.3); 
   }
   a.active {
      //outline:1px solid white;
      //border-bottom-color:white;
      color:#fd7854; color:silver;
   }
   
   li:hover {
      position:relative;
   
      >a {outline:1px solid white;}
      .submenu {display:block;}
   }
   
   .submenu {
      display:none;
      margin:0; padding:0;
      
      li {
         display:block;
         float:none;
         padding:0; 
         margin:0; 
         //white-space:nowrap;
      }
      a {
         text-align:left;
         padding-top:.5em;
         //width:100%; 
         height:auto; width:auto;
         white-space:nowrap;
      }
   }
   
   .home-link {   
      a {
         width:10em;
         outline:1px solid white;
         background-image:url('images/alexlorenzi.gif');
         background-size:90%;
         background-repeat:no-repeat;
         background-position:center 70%;
         text-indent:-9999px; 
      }
   }
   .decorazioni-link {      
      width:14em;
      
      >a {
         background-image:url('images/testaGreca_small.jpg');
         background-size:30px 25px;
         background-repeat:no-repeat;
         background-position:center .5em;
      }
   }
   .kustomite-link  {    
      width:12em; width:8em;
        
      >a {
         background-image:url('images/kustomite_small.jpg');
         background-size:30px 25px;
         background-repeat:no-repeat;
         background-position:center .5em;
      }
      .submenu {width:150%;}
   }   
}





