html, body {
   font-family: 'Georgia', serif;   
   //font-family: 'Lora', serif;
   //font-family: 'Gentium Basic', serif;
   //font-family: 'Crimson Text', serif;
   font-size:18px;
   line-height:1.4;
}

h1, h2 {
   font-family: 'Helvetica', sans-serif;
   font-family: 'Open Sans Condensed', sans-serif;
   font-family: 'Open Sans', sans-serif;
   font-family: 'Julius Sans One', sans-serif;
   font-weight:bold;
   margin-top:0;
}

h1, h2 {
   line-height: 1.3;
}
h1 {
  font-size: 2rem;
  margin: 0 0 1rem;
}
h2 {
  font-size: 1.5rem; 
  margin: 0 0 1rem;
}
p {
  font-size: 1rem;
  margin: 0 0 1rem;
}
