$large: 1240px;
$medium: 1024px;
$small: 700px;
$spacing:20px;

$footer-space: 4em;
$footer-space-mobile:6em;
$header-space: 100px;

$link-color:#4F92BB; $link-color:#0593C7;
$decorazioni-color:#c64f49;
$kustomite-color:#fd8654;

// CLEARFIX
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
